@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot");
  src: url("fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot?#iefix")
    format("embedded-opentype");
  src: url("fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.woff2")
    format("woff2");
  src: url("fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.woff")
    format("woff");
  src: url("fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot");
  src: url("fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot?#iefix")
    format("embedded-opentype");
  src: url("fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff2")
    format("woff2");
  src: url("fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff")
    format("woff");
  src: url("fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ceremonious One";
  src: url("fonts/CeremoniousOne/CeremoniousOne.eot");
  src: url("fonts/CeremoniousOne/CeremoniousOne.eot?#iefix")
    format("embedded-opentype");
  src: url("fonts/CeremoniousOne/CeremoniousOne.woff2") format("woff2");
  src: url("fonts/CeremoniousOne/CeremoniousOne.woff") format("woff");
  src: url("fonts/CeremoniousOne/ceremonious_one.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BravoRG";
  src: url("fonts/BravoRG/BravoRG.eot");
  src: url("fonts/BravoRG/BravoRG.eot?#iefix") format("embedded-opentype");
  src: url("fonts/BravoRG/BravoRG.woff2") format("woff2");
  src: url("fonts/BravoRG/BravoRG.woff") format("woff");
  src: url("fonts/BravoRG/BravoRG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #464646;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-family: "GilroyBold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: black;
  font-weight: bold;
}

h3 {
  font-family: "GilroyBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  font-weight: bold;
}

._container {
  max-width: 950px;
  margin: 0 auto;
}

.slider__lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.slider__lots-body {
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__lots-body .slick-arrow {
  position: absolute;
  top: 433px;
  left: calc(50% + 50px);
  z-index: 100;
  cursor: pointer;
}

.slider__lots-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider__lots-item.slick-slide {
  width: 250px;
  margin: 0 auto;
}

.slider__lots-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__lots-control .slick-arrow {
  position: static !important;
}

.slider__lots-control .control__slider-link {
  color: #000000;
}

.control__slider .slick-arrow {
  cursor: pointer;
}

.control__slider .slick-prev.slick-arrow {
  width: 109px;
  height: 35px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background: url("../images/main/arr-left.png") no-repeat;
}

.control__slider .slick-next.slick-arrow {
  width: 109px;
  height: 35px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("../images/main/arr-left.png") no-repeat;
}

.control__slider-link {
  width: 100px;
  height: 100px;
  margin: 0 40px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #8c632d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 21px;
}

.control__slider-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -36px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #8c632d;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.control__slider-link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -36px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #8c632d;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.item__lots-link {
  outline: none;
}

.item__lots-link img {
  border: 3px solid #bb9c66;
}

.item__lots-title {
  margin-bottom: 30px;
  font-size: 21px;
  color: #1c242a;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 10;
}

.item__lots-timer {
  font-size: 18px;
  color: #000000;
  position: relative;
}

.item__lots-timer:after {
  content: "";
  position: absolute;
  top: -40px;
  left: calc(50% - 32px);
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item__lots-timer:before {
  content: "";
  position: absolute;
  background: url("../images/icons/sands-watch.png") top no-repeat;
  top: -42px;
  left: calc(50% - 6px);
  width: 12px;
  height: 15px;
  z-index: 10;
}

.item__lots-timer span {
  position: relative;
  z-index: 10;
  top: -24px;
}

.title {
  width: 100%;
  text-align: center;
}

.title__title {
  margin-bottom: 25px;
  font-family: "Ceremonious One";
  font-size: 40px;
  color: #bb9c66;
}

.title__subtitle {
  margin-bottom: 20px;
  font-family: "PF Din Text Cond Pro";
  color: #1c242a;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title__decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title__decoration-item {
  margin-bottom: 25px;
  margin-right: 100px;
  width: 100%;
  height: 1px;
  background-color: #bb9c66;
  position: relative;
}

.title__decoration-item:after {
  position: absolute;
  content: "";
  right: -17px;
  top: calc(50% - 5px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.title__decoration-item:nth-child(3) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 0;
  margin-left: 100px;
}

.title__decoration-item span {
  display: block;
}

.title__decoration-item span:before {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  right: -38px;
  width: 10px;
  height: 10px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.title__decoration-item span:after {
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  right: -67px;
  width: 16px;
  height: 16px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item__lots-info {
  font-size: 14px;
  margin-bottom: 24px;
}

.item__lots-btn {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 21px;
  color: #000000;
  outline: none;
  background-color: transparent;
}

.info__lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info__lots-eye {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  padding-top: 35px;
}

.info__lots-eye:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  background: url("../images/icons/eye.png") no-repeat;
  width: 25px;
  height: 25px;
}

.info__lots-eye:after {
  content: "";
  position: absolute;
  bottom: 33px;
  left: calc(50% - 25px);
  width: 50px;
  height: 1px;
  background-color: #bb9c66;
}

.info__lots-price {
  position: relative;
}

.info__lots-price:before {
  content: "";
  position: absolute;
  top: 13px;
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.info__lots-price-number {
  font-family: "BravoRG";
  font-size: 50px;
}

.info__lots-palm {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  padding-top: 35px;
}

.info__lots-palm:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  background: url("../images//icons/palm.png") no-repeat;
  width: 25px;
  height: 25px;
}

.info__lots-palm:after {
  content: "";
  position: absolute;
  bottom: 33px;
  left: calc(50% - 25px);
  width: 50px;
  height: 1px;
  background-color: #bb9c66;
}

.item__lots-info-btn.item-bt {
  background-color: transparent;
  color: #000000;
  padding: 15px 30px;
}

.item__lots-info-btn.item-bt:before {
  width: 200px;
  left: calc(50% - 100px);
}

.item__lots-info-btn.item-bt:after {
  width: 200px;
  left: calc(50% - 100px);
}

.item__lots-info-btn.item-bt span:before {
  left: 23px;
}

.item__lots-info-btn.item-bt span:after {
  right: 23px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}

.categories__container:after {
  content: "";
  position: absolute;
  height: 45px;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -50px;
  position: relative;
  padding: 37px 0 0 0;
}

.categories__row:before,
.categories__row:after {
  content: "";
  position: absolute;
  top: 3px;
  width: calc(24px * 0.72);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(24px * 0.72);
  flex: 0 0 calc(24px * 0.72);
  height: calc(24px * 0.72);
  -webkit-transform: translate(-71%, 0) rotate(-45deg);
  -ms-transform: translate(-71%, 0) rotate(-45deg);
  transform: translate(-71%, 0) rotate(-45deg);
  border: 1px solid #bb9c66;
}

.categories__row:before {
  left: 33.333%;
}

.categories__row:after {
  left: 66.667%;
}

.categories__column {
  position: relative;
  padding: 0 50px 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  margin: 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.categories__column:before {
  content: "";
  position: absolute;
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: -5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.categories__item {
  width: 250px;
  height: 250px;
  padding: 24px 20px 39px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.categories__decor {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  -webkit-transform: translate(34%, 0);
  -ms-transform: translate(34%, 0);
  transform: translate(34%, 0);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
}

.categories__decor:before {
  content: "";
  width: 1px;
  background-color: #bb9c66;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.categories__decor:after {
  content: "";
  width: calc(24px * 0.72);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(24px * 0.72);
  flex: 0 0 calc(24px * 0.72);
  height: calc(24px * 0.72);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 1px solid #bb9c66;
  margin: 15px 0 0 0;
}

.categories__decor span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__decor span:before {
  content: "";
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor span:after {
  content: "";
  background-color: #bb9c66;
  width: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item {
  position: relative;
  padding: 30px 30px 40px 30px;
  text-align: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item:hover .item__bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  border-radius: 50%;
  overflow: hidden;
}

.item__icon {
  position: relative;
  z-index: 10;
  margin: 0 0 25px 0;
}

.item__title {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2.1px;
  line-height: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item__deco {
  text-align: center;
  position: relative;
  z-index: 10;
}

.item__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item__bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
}

.categories__text {
  font-size: 15px;
  color: #333333;
  line-height: calc(25 / 15);
  margin-bottom: 75px;
}

.categories__text p {
  margin: 0 0 25px 0;
}

.categories__text p:last-child {
  margin: 0;
}

.text-categories__body {
  padding: 10px 0 25px 135px;
  background: url("../images/main/categories/bg.png") left top repeat-y;
  position: relative;
}

.text-categories__body:before {
  content: "";
  background: url("../images/main/categories/bg-header.png") no-repeat;
  position: absolute;
  top: -4px;
  left: 0;
  width: 85px;
  height: 12px;
}

.services {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1c242a;
}

.services__container {
  margin-bottom: 61px;
  overflow: hidden;
}

.services__header {
  margin-top: 60px;
}

.services__row {
  margin: 0 -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0 50px;
}

.services__item {
  margin: 0 0 40px 0;
}

.services__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 205px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px 0;
}

.services__title {
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: calc(25 / 15);
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2.1px;
}

.services__text {
  color: #bb9c66;
  font-size: 15px;
  line-height: calc(25 / 15);
  margin: 23px 0 0 0;
}

.services__btn {
  position: relative;
  font-size: 21px;
  font-weight: 500;
  font-family: "PF Din Text Cond Pro";
  display: block;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0 0 0;
  text-transform: uppercase;
  font-weight: 500;
}

.services__btn:before {
  content: "";
  position: absolute;
  background-color: #bb9c66;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}

.services__btn span {
  position: relative;
  z-index: 10;
  font-size: 21px;
  padding: 0 9px;
  background-color: #1c242a;
}

.block__header-title .title__subtitle {
  color: #ffff;
}

.quotes {
  padding: 50px 0 0 0;
}

.quotes__container .title__subtitle {
  color: #1c242a;
}

.slider-quotes {
  margin-bottom: 75px;
}

.slider-quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0;
}

.slider-quotes__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  min-width: 0;
}

.slider-quotes__img img {
  max-width: 100%;
}

.slider-quotes__content {
  padding-right: 44px;
  margin-left: 44px;
}

.slider-quotes__title {
  font-size: 25px;
  line-height: calc(30 / 25);
  font-style: italic;
  margin: 0 0 1.2em 0;
  max-width: 474px;
}

.slider-quotes__info {
  color: #1c242a;
  font-size: 15px;
}

.slider-quotes__info p {
  margin: 0 0 7px 0;
}

.slider-quotes__info p:last-child {
  margin: 0 0 0 0;
}

.control-slider-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.control-slider-quotes__decor {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.control-slider-quotes__decor:before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}

.control-slider-quotes__decor:after {
  content: "";
  margin: 0 0 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.control-slider-quotes__decor:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.control-slider-quotes__decor:last-child:after {
  margin: 0 5px 0 5px;
}

.control-slider-quotes__circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  background: url("../images/main/quotes/load.png") center no-repeat;
  cursor: pointer;
}

.control-slider-quotes__link {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.info {
  padding: 0 0 75px 0;
}

.info__container {
  overflow: hidden;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 22px;
  margin: 0 -22px;
}

.info__column:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.info__item {
  margin: 0 0 30px 0;
}

.info__date {
  color: #bb9c66;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.info__lable {
  font-size: 15px;
  font-family: "PF Din Text Cond Pro";
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
  display: inline-block;
  margin: 0 0 5px 0;
}

.info__text {
  font-size: 15px;
  line-height: calc(21 / 15);
}

.title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 35px;
  font-family: "PF Din Text Cond Pro";
  font-weight: 500;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title-info span:first-child {
  margin: 0 22px 0 0;
}

.title-info span:first-child img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.subscribe__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 22px;
  margin: 0 -22px;
}

.subscribe__text {
  font-size: 15px;
  line-height: calc(21 / 15);
}

.form-subscribe {
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.form-subscribe__input input {
  border-radius: 0 !important;
  width: 100%;
  color: #4f4f4f;
  border: none;
  font-size: 15px;
  height: 100%;
  display: block;
  padding: 0 25px;
}

.form-subscribe__input input:focus {
  color: #000000;
}

.form-subscribe__btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95px;
  flex: 0 0 95px;
  background: #ffffff;
  cursor: pointer;
}

.form-subscribe__btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
}

.form-subscribe__btn span {
  background: url("../images/main/info/arr.png") right no-repeat;
  padding: 0 32px 0 0;
  color: #1c242a;
  font-size: 21px;
  font-family: "PF Din Text Cond Pro";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.12px;
}

.form-subscribe button {
  border: none;
}

._active {
  display: block;
}

._active-n {
  top: 0;
}

.header__bg {
  background-color: #1c242a;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 75px;
}

.header__logo {
  margin-left: 24px;
}

.header__top-slider {
  position: relative;
}

.menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.menu__icon {
  z-index: 1000;
}

.menu__body {
  padding-left: 10px;
  max-width: 450px;
  background-color: rgba(28, 36, 42, 0.8);
  z-index: 100;
}

.menu__body.active {
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__list li {
  margin: 0 5px;
  line-height: 18px;
}

.menu__list li:first-child {
  margin-left: 0;
}

.menu__list li:last-child {
  margin-right: 0;
}

.menu__link,
.action-header__region {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__right {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5.26316%;
  height: 100%;
}

.action-header__region {
  min-width: 18px;
  min-height: 18px;
  padding-left: 28px;
  line-height: 18px;
  background: url("../images/icons/planet.png") left no-repeat;
}

.action-header__user {
  margin-left: 12px;
}

.user-header {
  position: relative;
}

.user-header__icon {
  padding: 27px 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-header__menu {
  display: none;
  position: absolute;
  left: -133px;
  top: 75px;
  background-color: #1c242a;
  padding: 8px 22px 31px 20px;
  z-index: 1000;
}

.user-header__menu li {
  margin-bottom: 12px;
}

.user-header__menu li:last-child {
  margin-bottom: 0;
}

.user-header__menu._active {
  display: block;
}

.user-header__link {
  padding-left: 25px;
  padding-bottom: 2px;
  color: #ffffff;
  text-decoration: none;
}

.user-header__link:hover {
  text-decoration: underline;
}

.user-header__link-1 {
  background: url("../images/icons/planet-smal.png") left no-repeat;
}

.user-header__link-2 {
  background: url("../images/icons/key.png") left no-repeat;
}

.user-header__link-3 {
  background: url("../images/icons/palm.png") left no-repeat;
}

.user-header__link-4 {
  background: url("../images/icons/hummer.png") left no-repeat;
}

.header__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
}

.header__slider .slick-list {
  max-width: 2000px;
}

.slider__item {
  background: url("../images/header/sl.jpg") center no-repeat;
  padding: 34px 0 100px 0;
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.slider__item-toptitle {
  font-family: "Ceremonious One", serif;
  margin-bottom: 30px;
  font-size: 40px;
  color: #bb9c66;
}

.slider__item-title {
  padding-bottom: 30px;
  font-size: 35px;
  line-height: 35px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.slider__item-text {
  padding-bottom: 55px;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #ffffff;
  max-width: 650px;
}

.item-bt {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 52px;
  position: relative;
  background-color: rgba(142, 101, 47, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  outline: none;
}

.item-bt:hover {
  background-color: rgba(142, 101, 47, 0.5);
}

.item-bt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#98723c),
    to(#8e652f)
  );
  background: -o-linear-gradient(left, #98723c, #8e652f);
  background: linear-gradient(to right, #98723c, #8e652f);
}

.item-bt:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#8e652f),
    to(#8c632d)
  );
  background: -o-linear-gradient(left, #8e652f, #8c632d);
  background: linear-gradient(to right, #8e652f, #8c632d);
}

.item-bt span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9b7640),
    to(#98723c)
  );
  background: -o-linear-gradient(top, #9b7640, #98723c);
  background: linear-gradient(to bottom, #9b7640, #98723c);
}

.item-bt span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#8e652f),
    to(#8c632d)
  );
  background: -o-linear-gradient(left, #8e652f, #8c632d);
  background: linear-gradient(to right, #8e652f, #8c632d);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.icon-menu {
  display: none;
}

.header__slider-decoration {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}

.header__slider-decoration:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.decoration__slider-link {
  position: relative;
  z-index: 11;
  margin: 0 12px;
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.decoration__slider .slick-arrow {
  width: 14px;
  height: 24px;
  position: relative;
  background: url("../images/header/arr-left.png") 0 0 no-repeat;
  z-index: 11;
  cursor: pointer;
}

.decoration__slider .slick-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-menu._active-n span {
  background-color: #bb9c66;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.icon-menu._active-n span:first-child {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.icon-menu._active-n span:last-child {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  padding: 45px 0;
  background-color: #1c242a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column-full {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer__column:last-child {
  text-align: right;
}

.footer__logo {
  display: inline-block;
  margin: 0 0 25px 0;
}

.footer__info {
  font-size: 13px;
  color: #bb9c66;
}

.footer__menu {
  padding: 0 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__list li {
  margin: 15px 15px 0 0;
}

.footer__link {
  font-family: "PF Din Text Cond Pro";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transform: all all 0.5s linear;
  -ms-transform: all all 0.5s linear;
  transform: all all 0.5s linear;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #bb9c66;
  font-family: "BravoRG";
  font-size: 50px;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer__phone small {
  margin: 2px 5px 0 0;
  font-size: 26px;
}

.footer__callback {
  color: #bb9c66;
  background: url("../images/footer/callback.png") left no-repeat;
  padding: 0 0 0 15px;
}

.footer__callback span {
  border-bottom: 1px dashed;
}

.footer__contact {
  text-align: right;
  padding-top: 15px;
}

@media screen and (max-width: 992.98px) {
  ._container {
    padding: 0 10px;
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .slider__item {
    margin-top: -10px;
  }
}

@media (max-width: 975px) {
  .categories__row:before {
    left: 50%;
  }

  .categories__row:after {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 950px) {
  .footer__phone {
    font-size: 40px;
  }

  .footer__phone small {
    font-size: 20px;
  }
}

@media screen and (max-width: 810px) {
  .action-header__region span {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .text-categories__body {
    padding: 10px 0 25px 95px;
  }

  .slider__item {
    margin-top: -50px;
  }

  .slider__item-toptitle {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__logo {
    margin-left: calc(50% - 70px);
    z-index: 1000;
  }

  .menu__body {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    left: -120%;
    top: 0;
    max-width: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 76px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu__body._active-n {
    left: 0;
  }

  .menu__list li {
    margin: 0;
    padding-bottom: 35px;
  }

  .menu__list {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu__link,
  .action-header__region {
    font-size: 20px;
  }

  .action-header {
    z-index: 1000;
  }

  .action-header__region {
    background: none;
    margin: 0;
    padding: 0;
  }

  .action-header__region span {
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 32px;
    left: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 1000;
  }

  .icon-menu span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #bb9c66;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 765px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__column {
    margin-bottom: 25px;
  }

  .footer__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px 5px 0 0;
  }

  .footer__phone {
    display: block;
    margin-bottom: 15px;
  }

  .footer__contact {
    text-align: center;
  }
}

@media (max-width: 652px) {
  .categories__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 648px) {
  .services__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 570px) {
  .slider-quotes__slide {
    display: block;
  }

  .slider-quotes__content {
    padding: 0;
    margin: 0;
  }

  .subscribe__body {
    display: block;
    margin-bottom: 15px;
  }

  .subscribe__column {
    padding: 0 22px;
  }

  .subscribe__text {
    margin-bottom: 15px;
  }
}

@media (max-width: 515px) {
  .info__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
