// .footer
	
// 	// padding: 18px 0 25px
// 	// border-top: 1px solid rgba(255,255,255,.2)
// .footer
// 	background-color: #252525
// 	&__content
// 	&__bottom
// 		display: flex
// 		justify-content: space-between 
// 		align-items: center
// 		padding: 42px 0
// 	&__middle
// 		display: flex 
// 		justify-content: center
// 		align-items: center
// 		padding: 22px 0
// 		border-bottom: 1px solid #454545
// 	&__top
// 		display: flex
// 		justify-content: space-between
// 		padding: 20px 0 40px 0
// 		border-bottom: 1px solid #454545
// 	&__top-left
// 		display: flex	
// 		justify-content: space-between
// 		align-items: flex-end
// 		.icon
// 			width: 60px
// 			height: 60px
// 			padding: 13px 0
// 		.social-link
// 			.icon
// 				border: 4px solid #666666
// 				&:hover
// 					border: 4px solid #ffffff
// 			&:first-child
// 				margin: 0
// 			&:nth-child(2)
// 				padding: 0 20px

// 	&__top-right
// 		display: flex	
// 		align-items: center
// .top
// 	&__left
// 		flex: 0 1 58%

// 	&__left-img

// 	&__left-social

// 	&__right

// 	&__right-1
// 		padding-right: 50px
// 		.right__text
// 			padding: 0 0 0 60px
// 	&__right-2
// 		.right__text
// 			padding: 0 0 0 45px
// .right
// 	&__text
// 		font-family: 'DinPro Bold'
// 		color: #454545
// 		// padding: 0 0 0 60px
// 		// .top__right-1.right__text
// 		// 	padding: 0 0 0 60px
// 		.top__right-2
// 			padding: 0 0 0 7px

// .middle
// 	&__like
// 		display: flex
// 		align-item: center
// 		margin-right: 67px
// 		.social-link
// 			&:nth-child(3)
// 				padding: 0 20px 
// 		.icon
// 			width: 33px
// 			height: 33px
// 	&__like-text

// 	&__share
// 		display: flex 
// 		align-item: center
// 		.icon
// 			width: 33px
// 			height: 33px
// 		.social-link
// 			&:nth-child(3)
// 				padding: 0 20px 
// 			&:nth-child(4)
// 				padding: 0 20px 0 0
// 	&__text
// 		padding-right: 10px

// .footer
	

// 	&__bottom-left
// 		display: flex
// 		justify-content: space-between 
// 		align-items: center
// 		flex: 0 1 59%
// 	&__bottom-right
// 		text-transform: none
// 		span 
// 			color: #ffffff
// .bottom
// 	&__rights
// 		font-size: 14px
// 		text-transform: none
// 		span 
// 			color: #ffffff
// 	&__lang
// 		font-family: 'DinPro Medium'
// 		font-size: 14px

// 	&__lang-link
// 		padding: 0 10px
// 		color: #454545
// 		transition: $an
// 		border-right: 1px solid #454545
// 		&:first-child
// 			padding-left: 0
// 		&:hover
// 			color: #ffffff
// .active
// 	color: #ffffff


// 	@media screen and (max-width: $md3)
// 		// background-color: red
// 	&__content
// 		padding: 0 15px
// 		display: flex
// 		align-items: center
// 		@media screen and (max-width: $md3)
// 			justify-content: center
// 			flex-wrap: wrap
// 		@media screen and (max-width: $md4)
// 			flex-direction: column
// 			text-align: center
			
// 	&__social
// 		display: flex
// 		margin: 0 230px 0 0
// 		@media screen and (max-width: $md2)
// 			margin: 0 50px 0 0
// 		@media screen and (max-width: $md3)
// 			margin: 0
// 			order: 2
// 		@media screen and (max-width: $md4)
// 			margin: 0 20px 30px 0
// 	&__body
// 		@media screen and (max-width: $md3)
// 			padding: 0 0 30px
// 	// &__title
// 	// 	color: #000000
// 	// 	font-size: 36px
// 	// 	line-height: 45px
// 	// 	font-weight: 600
// 	// 	margin: 0 0 10px
// 		@media screen and (max-width: $md3)
// 			font-size: 20px
// 	&__subtitle
// 		color: #444444
// 		font-weight: 400
// 		font-size: 16px
// 		line-height: 24px
// 		@media screen and (max-width: $md3)
// 			font-size: 12px
// 			line-height: 16px

// .social
// 	&__link
// 		display: flex
// 		justify-content: center
// 		align-items: center
// 		width: 40px
// 		height: 40px
// 		border-radius: 50%
// 		background-color: rgba(255,255,255,0.2)
// 		border: 3px solid #c1cec7
// 		margin-right: 10px
// 		transition: $an
// 		&:hover
// 			.buscket-icon
// 				fill: #000
// 		&:last-child
// 			margin: 0

// 		@media screen and (max-width: $md3)
// 			width: 50px
// 			height: 50px

// .footer
// 	&__content

// 	&__social
	
// 	&__body
// 		display: flex
// 		align-items: center
// 		width: 100%
// 		@media screen and (max-width: $md3)
// 			justify-content: space-between
// 		@media screen and (max-width: 560px)
// 			flex-direction: column
// 	&__body-links
// 		display: flex
// 		@media screen and (max-width: 560px)
// 			padding: 0 0 30px
// 		@media screen and (max-width: $md4)
// 			flex-direction: column
// 			text-align: center
// 	&__body__licence
// .body-links
// 	color: #fff
// 	font-size: 13px
// 	line-height: 18px
// 	font-weight: 400
// 	&:hover
// 		border-bottom: 1px solid #fff
// .container

// .social
// 	&__link

// .buscket-icon

// .body-links

// 	&__left
// 		padding: 0 30px 0 0
// 		@media screen and (max-width: $md4)
// 			padding: 0
// 	&__right

// .links

// 	&__left-producers
// 		padding: 0 0 10px
// 		position: relative
// 		&:before
// 			content: ""
// 			position: absolute
// 			top: 7px
// 			left: -20px
// 			width: 15px
// 			height: 13px
// 			background: url('../images/icon/heart.png') 0 0 no-repeat 
// 		a 
// 			font-weight: 600
// 	&__left-about
// 		@media screen and (max-width: $md4)
// 			padding: 0 0 10px
// 	&__right-documents
// 		padding: 0 0 10px
// 	&__right-standards

// .body
// 	&__licence-img

// 	&__licence-text
// 		font-size: 12px
// 		font-weight: 400

// hello

.footer
	padding: 45px 0
	background-color: #1c242a
	&__container
		display: flex 
		@media (max-width: 765px)
			display: block
			text-align: center
	&__column
		&-full
			flex: 1 1 auto
		&:last-child
			text-align: right 
		@media (max-width: 765px)
			margin-bottom: 25px
	&__logo
		display: inline-block
		margin: 0 0 25px 0
	&__info
		font-size: 13px
		color: #bb9c66
	&__menu
		padding: 0 30px
	&__list
		display: flex 
		flex-wrap: wrap
		li 
			margin: 15px 15px 0 0
		@media (max-width: 765px)
			justify-content: center
			margin: 5px 5px 0 0
	&__link
		font-family: 'PF Din Text Cond Pro'
		font-size: 14px
		font-weight: 500
		text-transform: uppercase
		letter-spacing: 1.4px
		transform: all $an
		&:hover 
			text-decoration: underline 
	&__phone
		display: inline-flex
		align-items: flex-start
		color: #bb9c66
		font-family: 'BravoRG'
		font-size: 50px
		text-transform: uppercase
		white-space: nowrap
		small
			margin: 2px 5px 0 0
			font-size: 26px
		@media (max-width: 765px)
			display: block
			margin-bottom: 15px
		@media (max-width: 950px)
			font-size: 40px
			small 
				font-size: 20px
	&__callback
		color: #bb9c66
		background: url('../images/footer/callback.png') left no-repeat
		padding: 0 0 0 15px
		span 
			border-bottom: 1px dashed
	&__contact
		text-align: right 
		padding-top: 15px
		@media (max-width: 765px)
			text-align: center


